.hero{
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    position: relative;
    max-height: 100vh;
    color: white;
    min-width: 358px;
}

.window__hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    
}
.hero__nome{
    font-weight: bolder;
    font-size: 38px;
    text-transform: capitalize;
    
}

.hero__titulo{
    font-weight: 300;
    font-size: 2.3em;

}

.hero__box-action{
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding: 0em 1.5em;
}


.heroVideoBack{
    position: absolute;
    min-height: 10vh;
    object-fit: cover;
    transform: translate(-40%, 10%);
    z-index: -1;
    bottom: 0px;
     min-height: 100vh;
}

.hero__action{
    display: flex;
    width: 90%;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
}

.hero__action__title{
    font-size: 1em;
    flex-wrap: nowrap;
    
}

.hero__action__img{
    max-width: 50px;
    height: 50px;
    rotate: 90deg;
}


.hero__title__box{
    width: 60%;
    margin-bottom: 2em;
    margin-right:0.5em;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 1em;
}


.hero__title__text{
    font-size: 1em;
    line-height: 2em;
    text-transform: capitalize;
    text-wrap: nowrap;
    min-width: 100%;

}


.hero__title__principal{
    font-size:4.2em;
    text-transform: capitalize;
    line-height: 0.8em;
}

.hero__title__principal__span{
    font-weight: 400;
    font-size: 0.75em;
    line-height: 0.5em;
}
.About{
    height: 100vh;
    background-color: black;
}

@media (min-width: 1460px){

    .heroVideoBack{
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    object-fit: cover;
    transform: translate(-35%, 0%);
    z-index: -1;
}

}